@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap");
.heading-primary {
  font-size: 3.2rem; }

.selected:link,
.selected:visited {
  background-color: #959eac !important;
  color: white !important;
  border-radius: 50%; }

html {
  font-size: 62.5%;
  font-family: "Overpass", sans-serif; }

body {
  color: white; }

.main-container .main-form__feedback-message {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #959eac; }
  @media (max-width: 32em) {
    .main-container .main-form__feedback-message {
      font-size: 1.4rem; } }

.main-container .main-form__rating > a:link, .main-container .main-form__rating > a:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #959eac; }
  @media (max-width: 32em) {
    .main-container .main-form__rating > a:link, .main-container .main-form__rating > a:visited {
      font-size: 2rem; } }

.main-container .main-form__rating > a:hover, .main-container .main-form__rating > a:active {
  color: white;
  background-color: #fb7413; }

.main-container .main-form__button {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Overpass", "sans-serif";
  letter-spacing: 2px; }

.thank-you-container__thank-you-message {
  text-align: center;
  font-size: 1.6rem;
  color: #959eac; }

.thank-you-container__rating-report {
  color: #fb7413;
  font-size: 1.6rem; }

.main-container .main-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%; }
  .main-container .main-form__img {
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    background-color: #252d37;
    padding: 1.6rem;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; }
    @media (max-width: 32em) {
      .main-container .main-form__img {
        margin: 0; } }
  .main-container .main-form__feedback-message {
    width: 37ch;
    margin-top: -1rem; }
    @media (max-width: 32em) {
      .main-container .main-form__feedback-message {
        width: 100%; } }
  .main-container .main-form__ratings-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0; }
  .main-container .main-form__rating {
    transition: all 200ms; }
  .main-container .main-form__rating > a {
    display: inline-block;
    height: 56px;
    width: 56px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #252d37;
    transition: all 200ms; }
    @media (max-width: 32em) {
      .main-container .main-form__rating > a {
        height: 40px;
        width: 40px;
        line-height: 44px; } }
  .main-container .main-form__button {
    color: white;
    background-color: #fb7413;
    border: 0;
    border-radius: 3rem;
    height: 5rem;
    margin-top: 3rem;
    transition: all 200ms; }
    .main-container .main-form__button:hover {
      background-color: white;
      color: #fb7413; }

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3.2rem; }
  .thank-you-container__rating-report {
    padding: 0.75rem 1.5rem;
    background-color: #252d37;
    border-radius: 15px;
    margin-top: 4rem; }
  .thank-you-container__thank-you-message {
    width: 35ch;
    margin-top: -1rem; }
    @media (max-width: 32em) {
      .thank-you-container__thank-you-message {
        width: 100%; } }

* {
  box-sizing: border-box; }

body {
  background-color: #121417;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden; }

.main-container {
  width: 440px;
  height: 440px;
  background-image: linear-gradient(to bottom, #252d37, #121417);
  border-radius: 15px; }
  @media (max-width: 32em) {
    .main-container {
      width: 85vw; } }
