.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3.2rem;

  &__rating-report {
    padding: 0.75rem 1.5rem;
    background-color: $dark-blue;
    border-radius: 15px;
    margin-top: 4rem;
  }

  &__thank-you-message {
    width: 35ch;
    margin-top: -1rem;

    @include phone {
      width: 100%;
    }
  }
}
