@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
  font-family: "Overpass", sans-serif;
}

body {
  color: $white;
}

.main-container {
  .main-form {
    &__feedback-message {
      font-size: 1.6rem;
      line-height: 1.6;
      color: $light-grey;

      @include phone {
        font-size: 1.4rem;
      }
    }

    &__rating {
      & > a {
        &:link,
        &:visited {
          font-size: 2.4rem;
          text-decoration: none;
          color: $light-grey;

          @include phone {
            font-size: 2rem;
          }
        }

        &:hover,
        &:active {
          color: $white;
          background-color: $orange;
        }
      }
    }

    &__button {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Overpass", "sans-serif";
      letter-spacing: 2px;
    }
  }
}

.thank-you-container {
  &__thank-you-message {
    text-align: center;
    font-size: 1.6rem;
    color: $light-grey;
  }

  &__rating-report {
    color: $orange;
    font-size: 1.6rem;
  }
}
