@import "variables";
@import "typography";

@import "main-form";

body {
  background-color: $very-dark-blue;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
