@import "variables";
@import "typography";
@import "utils";

@import "main-form";
@import "thank-you-container";

* {
  box-sizing: border-box;
}

body {
  background-color: $very-dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  width: 440px;
  height: 440px;
  background-image: linear-gradient(to bottom, $dark-blue, $very-dark-blue);
  border-radius: 15px;
}
